<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser && currentUser.autenticated == true">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Informações pessoas e sigilosas</a>
        <a class="nav-item nav-link" routerLink="/boletos">Manutenção dos Imóveis</a>
        <a class="nav-item nav-link" routerLink="/reparo">Solicitação de reparo</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="container">
    <router-outlet></router-outlet>
</div>